{% extends 'manageTable/base.html' %}
{% block content %}
<table border=0 width="1200"height="300">
    <tr>
    {% for table in tableStatusList %}
        {% load staticfiles %}
        <td>
            <p>【テーブル{{ table.tableId }}】</p>
            <p>
            {% if table.status == '0' %}
                <img src="{% static 'img/available.png' %}">
            {% elif table.status == '1'  %}
                <img src="{% static 'img/notavailable.png' %}">
            {% else %}
                <img src="{% static 'img/selected.png' %}">  
            <p>選択中の座席を予約しますか？</p>
            <p>
                <a href="{% url 'reservation' select_tableId=table.tableId %}"> Yes </a>,
                <a href="{% url 'table_list'%}"> No </a>
            </p>
            {% endif %}
            </p>
        </td>
    {% endfor %}
    </tr>
</table>
{% endblock content %}