{% load staticfiles %}


<html>
    <head>
        <title>Demo</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Chango|Merriweather|Oswald|Shadows+Into+Light" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/food_court_app.css' %}">
        <script type="text/javascript" src="{% static 'js/food_court_app.js' %}"></script>
    </head>
    <body>
        <div class="page-header">
            <h1>Demo</h1>
        </div>
        <div class="content container">
            <div class="row">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>