{% extends 'food_court_app/base.html' %}
{% block content %}
<div class="menu_area">
</br>
{% load staticfiles %}
<img src="{% static 'img/selected.png' %}">
</br>
</br>
選択中の席（テーブル{{ select_table_id }}）を</br>
利用しますか？
</br>
</br>
<form  name="reservation_post" action="{% url 'reservation' select_table_id=select_table_id %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="select_table_id" value="{{ select_table_id }}">
</form>
<a class="square_btn" href="javascript:reservation_post.submit()">OK</a>
</br>
</br>
<a class="square_btn" href="{% url 'table_list'%}"> Cancel </a>
</div>
<div class="flex list_area">
    {% for table in table_status_list %}
        {% load staticfiles %}
            <p class="table_height">【テーブル{{ table.table_id }}】
                </br>
                {% if table.status == 0 %}
                    <img src="{% static 'img/available.png' %}">
                {% elif table.status == 1  %}
                    <img src="{% static 'img/notavailable.png' %}">
                {% else %}
                    <img src="{% static 'img/selected.png' %}">  
                {% endif %}
            </p>
    {% endfor %}
</div>
{% endblock content %}