{% extends 'food_court_app/base.html' %}
{% block content %}
    {% for condition in crowd_condition_list %}
        <table>
            <tr>
            {% load staticfiles %}
                <td class="table_height">
                        <img src={{condition.store_image_path}} width="141px" height="141px">
                </td>
                <td>
                    <div class="store_info">
                        &nbsp;&nbsp;店舗名&nbsp;&nbsp;：&nbsp;&nbsp;{{condition.store_name}}  </br></br></br>
                    </div>
                    <div class="store_info">
                        &nbsp;&nbsp;混雑状況&nbsp;&nbsp;：&nbsp;&nbsp;
                            {% if condition.crowd_status == 0 %}
                                <img src="{% static 'img/crowd_level1.png' %}">
                            {% elif condition.crowd_status == 1  %}
                                <img src="{% static 'img/crowd_level2.png' %}"><img src="{% static 'img/crowd_level2.png' %}">                    
                            {% else  %}
                                <img src="{% static 'img/crowd_level3.png' %}"><img src="{% static 'img/crowd_level3.png' %}"><img src="{% static 'img/crowd_level3.png' %}">
                            {% endif %}
                    </div>
                    </br></br></br>
                    <div class="store_info">
                        &nbsp;&nbsp;現在の待ち時間&nbsp;&nbsp;：&nbsp;&nbsp;{{condition.wating_time}}分
                    </div>
                </td>
            </tr>
        </table>
        </br>
        <hr class="accessory">
    {% endfor %}
</br></br>
<a class="square_btn_return" href="/"> Return </a>
</br></br>
{% endblock content %}