{% extends 'food_court_app/base.html' %}
{% block content %}
<form  name="order_post" action="{% url 'order' %}" method="post">
    {% csrf_token %}
    以下の注文内容で問題なければ、注文確定ボタンを押下してください。
    </br></br></br>
    登録メールアドレス　：　{{mail}}</br>
    </br></br>
        <table>
            <tr>
                <td class=menu_name>
                    メニュー名
                </td>
                <td class=menu_qty>
                    注文数
                </td>
                <td class=menu_price>
                    単価／合計
                </td>
            </tr>
        {% for order_detail in order_detail_list %}
            <tr>
                {% load staticfiles %}
                <td class=menu_name>
                    {{ order_detail.menu_name }}
                </td>
                <td class=menu_qty>
                    {{ order_detail.order_qty }}
                </td>
                <td class=menu_price>
                    {% load humanize %}
                    {{ order_detail.price| intcomma }}／{{ order_detail.total_price| intcomma }}円
                </td>
            </tr>
            <input type="hidden" name="menu_id" value="{{ order_detail.menu_id }}">
            <input type="hidden" name="order_qty" value="{{ order_detail.order_qty }}">
        {% endfor %}
        </table>
        {% load humanize %}
        <div>総計金額　：　{{total_price| intcomma }}円</div>
    </br></br>

    <input type="hidden" name="store_name" value="{{ store_name }}">
    <input type="hidden" name="reservation_id" value="{{ reservation_id }}">
    <input type="hidden" name="mail" value="{{ mail }}">
    <input type="hidden" name="amount" value="{{ amount }}">
    <input type="hidden" name="total_price" value="{{ total_price }}">
    <script
        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
        data-key="{{ publick_key }}"
        data-amount="{{ total_price }}"
        data-name="Payment"
        data-description="by credit card"
        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
        data-locale="ja"
        data-currency="jpy"
        data-email="{{ mail }}">
    </script>
  {% csrf_token %}
</form>
</br>
<form  name="order_page" action="{% url 'order_page' %}" method="post">
    {% csrf_token %}
    <a class="square_btn_return" href="javascript:order_page.submit()"> Cancel </a>
    <input type="hidden" name="store_id" value="{{ order_detail_list.0.store_id }}">
    <input type="hidden" name="reservation_id" value="{{ reservation_id }}">
</form>
{% endblock content %}
