{% extends 'food_court_app/base.html' %}
{% block content %}
<form  name="order_post" action="{% url 'order' %}" method="post">
    {% csrf_token %}
    <div class="iphone_font_size">
    <!--以下の注文内容で問題なければ、クレジットカード決済へお進み下さい。-->
    以下注文内容で問題なければ、決済方法選択へお進みください。
    </div>
    </br></br></br>
    <div class="order_info iphone_font_size">
        <table>
            <tr>
                <td class="iphone_font_size">登録メールアドレス：</td>
                <td class="iphone_font_size">{{mail}}</td>
            </tr>
        </table>
    </div>
    </br></br>
        <table>
            <tr class="tr_header">
                <td class="confirm_menu_name iphone_font_size">
                    メニュー名
                </td>
                <td class="confirm_menu_qty iphone_font_size">
                    注文数
                </td>
                <td class="confirm_menu_price iphone_font_size">
                    単価
                </td>
                <td class="confirm_menu_price iphone_font_size">
                    合計
                </td>
            </tr>
        {% for order_detail in order_detail_list %}
            <tr>
                {% load staticfiles %}
                <td class=confirm_menu_name>
                    {{ order_detail.menu_name }}
                </td>
                <td class=confirm_menu_qty>
                    {{ order_detail.order_qty }}
                </td>
                <td class=confirm_menu_price>
                    {% load humanize %}
                    {{ order_detail.price| intcomma }}円
                </td>
                <td class=confirm_menu_price>
                    {% load humanize %}
                    {{ order_detail.total_price| intcomma }}円
                </td>
            </tr>
            <input type="hidden" name="menu_id" value="{{ order_detail.menu_id }}">
            <input type="hidden" name="order_qty" value="{{ order_detail.order_qty }}">
        {% endfor %}
        </table>
        <div class="order_info iphone_font_size">
            <table>
                <tr>
                    <td class="iphone_font_size total_price">総計金額：</td>
                    <td class="iphone_font_size total_price">{{total_price| intcomma }}円</td>
                </tr>
            </table>
        </div>
        {% load humanize %}
        
    </br></br>

    <div class="iphone_font_size">
        決済方法選択
    </div>
    <div class="order_info">
        <input type="hidden" name="store_name" value="{{ store_name }}">
        <input type="hidden" name="reservation_id" value="{{ reservation_id }}">
        <input type="hidden" name="mail" value="{{ mail }}">
        <input type="hidden" name="amount" value="{{ amount }}">
        <input type="hidden" name="total_price" value="{{ total_price }}">
        <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ publick_key }}"
            data-amount="{{ total_price }}"
            data-name="Payment"
            data-description="by credit card"
            data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
            data-locale="ja"
            data-currency="jpy"
            data-email="{{ mail }}">
        </script>
        <input type="button" class="stripe-button" name="Alipay" value="Alipay">
        <input type="button" class="stripe-button" name="Wechat" value="Wechat">
        <input type="button" class="stripe-button" name="LinePay" value="Lineペイ">
        </br>
        <input type="button" class="stripe-button" name="Jcoin" value="Jコイン">
        <input type="button" class="stripe-button" name="mobilePay" value="携帯料金でまとめて支払い">
    </div>
  {% csrf_token %}
</form>
</br>
{% if select_store_flg == "True" %}
<form  name="order_page" action="{% url 'order_page' %}" method="post">
    {% csrf_token %}
    <a class="square_btn_return" href="javascript:order_page.submit()"> Cancel </a>
    <input type="hidden" name="store_id" value="{{ order_detail_list.0.store_id }}">
    <input type="hidden" name="reservation_id" value="{{ reservation_id }}">
</form>
{% else  %}
    <a class="square_btn_return" href="{% url 'order_page_all_store' reservation_id=reservation_id %}"> Cancel </a>
{% endif %}
{% endblock content %}
