{% load staticfiles %}


<html>
    <head>
        <title>Demo</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru|Chango|Merriweather|Oswald|Shadows+Into+Light" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/food_court_app.css' %}">
        <script type="text/javascript" src="{% static 'js/food_court_app.js' %}"></script>
    </head>
    <body>
        <div class="page-header">
            <h1>Demo</h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="menu_area">
                    </br>
                    {% load staticfiles %}
                    <img src="https://api.qrserver.com/v1/create-qr-code/?data={{ qr_string }}&size=100x100" alt="QRコード" />
                    </br></br>
                    注文用QRコードを発行しました。
                    </br>
                    発券されたレシートをお取り下さい。
                    </br></br>
                    <a class="square_btn" href="/"> Return </a>
                    </br></br>
                </div>
                <div class="flex list_area">
                    {% for table in table_status_list %}
                            {% load staticfiles %}
                                <p class="table_height">
                                    【テーブル{{ table.table_id }}】</br>
                                    {% if table.status == 0 %}
                                        <img src="{% static 'img/available.png' %}">
                                    {% else  %}
                                        <img src="{% static 'img/notavailable.png' %}">
                                    {% endif %}
                                </p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>
