{% extends 'food_court_app/base.html' %}
{% block content %}
<div class="menu_area">
</br>
{% load staticfiles %}
<img src="{% static 'img/available.png' %}">
</br>
</br>
<div class="body_text">
青色の席は予約可能です。
</br>
希望の席を選択し、タッチしてください。
</div>
</br></br></br></br></br></br></br></br>
<a class="square_btn" href="{% url 'crowd_condition' %}"> 各店舗の混雑状況 </a>
</br></br></br></br></br></br></br></br>
<a class="square_btn" href="{% url 'add_store_view' %}"> 店舗の追加 </a>
</div>
<div class="flex list_area">
    {% for table in table_status_list %}
            {% load staticfiles %}
                <p class="table_height">
                    【テーブル{{ table.table_id }}】</br>
                    {% if table.status == 0 %}
                        <a href="{% url 'confirm' select_table_id=table.table_id %}" ><img src="{% static 'img/available.png' %}"></a>
                    {% else  %}
                        <img src="{% static 'img/notavailable.png' %}">
                    {% endif %}
                </p>
    {% endfor %}
</div>
{% endblock content %}