{% extends 'manageTable/base.html' %}
{% block content %}
<table border=0 width="1000"height="300">
    <tr>
    {% for table in tableStatusList %}
            {% load staticfiles %}
            <td>
                <p>【テーブル{{ table.tableId }}】</p>
                <p>
                {% if table.status == '0' %}
                    <a href="{% url 'confirm' select_tableId=table.tableId %}" ><img src="{% static 'img/available.png' %}"></a>
                {% else  %}
                    <img src="{% static 'img/notavailable.png' %}">
                {% endif %}
                </p>
            </td>
    {% endfor %}
    </tr>
</table>
{% endblock content %}