h1 a {
    color: #FCA205;
    font-family: 'Shadows Into Light', cursive;
}

body {
    padding-left: 30px;
    font-family: "Hannari";
}

.body_text {
    font-family: "Hannari";
    font-weight: bold; 
}


.page-header {
    background-color: #0f0f6f;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    width:100%;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36px;
    text-decoration: none;
}

.content {
    margin-left: 40px;
    padding-bottom:15%;
}

h1, h2, h3, h4 {
    font-family: "Hannari";
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #0f0f6f;
    float: right;
    font-size: 26px;
    margin-right: 20px;
}

.flex{
  padding: 1% 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.flex > *{
  min-width: 15%;
  min-height: 30%;
  flex-basis: 25%;
  background: #fff;
  font-size: 15px;
  text-align: center;
}
.flex,
.flex > *{
  border: 2px solid #aaa;
}

.table_height{
    height: auto;
}

img {
    margin:3%;
}

.square_btn {
    position: relative;
    display: inline-block;
    width:70%;
    text-align: center;
    padding:10 0 10 0;
    text-decoration: none;
    color: #FFF;
    background: #0f0f6f;/*色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #003399;/*線色*/
}

.square_btn:active {/*押したとき*/
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.square_btn_return {
    position: relative;
    display: inline-block;
    width:120px;
    height:40px;
    text-align: center;
    padding:10 0 10 0;
    text-decoration: none;
    color: #FFF;
    background: #0f0f6f;/*色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #003399;/*線色*/
}

.square_btn_return:active {/*押したとき*/
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.square_btn_submit {
    position: relative;
    display: inline-block;
    width:120px;
    height:40px;
    text-align: center;
    padding:10 0 10 0;
    text-decoration: none;
    color: #FFF;
    background: #0f0f6f;/*色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #003399;/*線色*/
}

.square_btn_submit:active {/*押したとき*/
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.menu_area {
    width:20%;
    float: left;
    font-family: 'Sawarabi Gothic', sans-serif;
}

.list_area {
    width:80%;
    float: left;
    font-family: 'Sawarabi Gothic', sans-serif;
}

.accessory {
  height: 6px;
  background-image: radial-gradient(
    closest-side,
    hsla(0, 0%, 50%, 1.0),
    hsla(0, 0%, 50%, 0) 100%);
  position: relative;
}
.accessory:after {
  position: absolute;
  top:  50%;
  left: 50%;
  display:block;
  background-color: hsl(0, 0%, 75%);
  height: 12px;
  width:  12px;
  transform: rotate(45deg);
  margin-top:  -10px;
  margin-left: -10px;
  border-radius: 4px 0;
  border: 4px solid hsla(0, 0%, 100%, 0.35);
  background-clip: padding-box;
  box-shadow: -10px 10px 0 hsla(0, 0%, 100%, 0.15), 10px -10px 0 hsla(0, 0%, 100%, 0.15);
}

.store_info{
    font-family: "Hannari";
    font-weight: bold; 
    /* 20181009 */
    font-size: 20px;
}

#reload_massage{
    font-size: 20px;
}

/* iphone 対応 181009 */
.iphone_font_size{
    font-size: 20px;
}

.menu_name{
    font-weight:bold;
    font-size: 20px;
}

.menu_type_name{
    text-align:right;
    font-size: 18px;
}

.menu_price{
    text-align:right;
    font-size: 18px;
}

.menu_creation_time{
    text-align:right;
    font-size: 18px;
}

.menu_qty{
    text-align:right;
    font-size: 18px;
}

.menu_info{
    width:100%;
}

.menu_row_name{
    text-align:right;
}

.total_price{
    font-weight: bold;
}

.confirm_menu_name{
    width:40%;
    font-size: 20px;
}

.confirm_menu_price{
    width:20%;
    text-align:right;
    font-size: 20px;
}

.confirm_menu_creation_time{
    width:20%;
    text-align:right;
    font-size: 20px;
}

.confirm_menu_qty{
    width:20%;
    text-align:right;
    font-size: 20px;
}

.tr_header{
    color:#ffffff;
    background-color: #0f0f6f;
}

.store_name{
    width:70%;
    font-family: "Hannari";
    font-weight: bold; 
    font-size: medium;
    font-size: 20px;
    background-color: #0f0f6f;
    color:#ffffff;
}

.store_name_order_detail{
    width:200px;
}

.order_manage_button{
    width:100px;    
}

.square_btn_manage_order {
    position: relative;
    display: inline-block;
    width:100px;
    text-align: center;
    padding:10 0 10 0;
    text-decoration: none;
    color: #FFF;
    background: #0f0f6f;/*色*/
    border-radius: 4px;/*角の丸み*/
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
    font-weight: bold;
    border: solid 2px #003399;/*線色*/
}

.square_btn_manage_order:active {/*押したとき*/
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

.flex_store{
  padding: 1% 1%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right:5%;
}
.flex_store > *{
  min-width: auto;
  min-height: auto;
  flex-basis: 25%;
  background: #fff;
  font-size: 15px;
  text-align: center;
}
.flex_store,
.flex > *{
  border: 2px solid #aaa;
}

.move-top{
    box-sizing: border-box;
    position: fixed;
    bottom: 35px;
    right: 60px;
    width: 60px;
    height: 60px;
    background-color: #444;
    border: 1px solid black;
    border-radius: 3px;
    opacity: 0.5;
}
.move-top:before{
    content: "";
    position: absolute;
    left: 4px;
    border-top: 7px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 40px solid black;
    border-left: 25px solid transparent;
}
.move-top:after{
    content: "";
    position: absolute;
    left: 6px;
    border-top: 9px solid transparent;
    border-right: 23px solid transparent;
    border-bottom: 37px solid #ccc;
    border-left: 23px solid transparent;
    z-index: 1;
}

.order_page_footer{
    height: auto;
    width: 90%;
    position: fixed;
    bottom: 0;
    padding: 8px 19px;
    margin: 1em 0;
    color: #2c2c2f;
    background: #cde4ff;
    border-top: solid 5px #5989cf;
    border-bottom: solid 5px #5989cf;
}

.error_message{
    color: #ff0000;
    font-size:15px;
    font-weight:bold;
}

.select_pay{
    height: auto;
    width: 90%;
    padding: 8px 19px;
    margin: 1em 0;
    color: #2c2c2f;
    background: #cde4ff;
    border-top: solid 5px #5989cf;
    border-bottom: solid 5px #5989cf;
}

.order_info{
    height: auto;
    width: 90%;
    padding: 8px 19px;
    margin: 1em 0;
    color: #2c2c2f;
    background: #cde4ff;
    border-top: solid 5px #5989cf;
    border-bottom: solid 5px #5989cf;
}

.instantly{
    display: inline-block;
    text-decoration: none;
    background: #ff8181;
    color: #FFF;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #bd6565;
    transition: .4s;
}

/* タブレットに適用するスタイルを書く */
@media screen and (min-width:670px) and ( max-width:959px) {
    
    
}


/* 通常のデスクトップに適用したいスタイル */
@media screen and (min-width:960px) {
    
    body {
        padding-left: 30px;
        font-family: "Hannari";
    }

    .page-header {
        background-color: #0f0f6f;
        margin-top: 0;
        padding: 20px 20px 20px 40px;
    }
    
    .page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
        color: #ffffff;
        font-size: 36px;
        text-decoration: none;
    }
    
    .content {
        margin-left: 40px;
        font-size:16px;
    }

    .save {
        float: right;
    }
    
    .post-form textarea, .post-form input {
        width: 100%;
    }
    
    .top-menu, .top-menu:hover, .top-menu:visited {
        color: #0f0f6f;
        float: right;
        font-size: 26px;
        margin-right: 20px;
    }
    
    .flex{
      padding: 1% 1%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .flex > *{
      min-width: 15%;
      min-height: 30%;
      flex-basis: 25%;
      background: #fff;
      font-size: 15px;
      text-align: center;
    }
    
    .flex,
    .flex > *{
      border: 2px solid #aaa;
    }
    
    .table_height{
        height: auto;
    }
    
    img {
        margin:5%;
    }
    
    .square_btn {
        position: relative;
        display: inline-block;
        width:70%;
        text-align: center;
        padding:10 0 10 0;
        text-decoration: none;
        color: #FFF;
        background: #0f0f6f;/*色*/
        border-radius: 4px;/*角の丸み*/
        box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
        font-weight: bold;
        border: solid 2px #003399;/*線色*/
    }
    
    .square_btn:active {/*押したとき*/
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
    }
    
    .square_btn_return {
        position: relative;
        display: inline-block;
        width:120px;
        height:40px;
        text-align: center;
        padding:10 0 10 0;
        text-decoration: none;
        color: #FFF;
        background: #0f0f6f;/*色*/
        border-radius: 4px;/*角の丸み*/
        box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
        font-weight: bold;
        border: solid 2px #003399;/*線色*/
    }
    
    .square_btn_return:active {/*押したとき*/
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
    }
    
    .square_btn_submit {
        position: relative;
        display: inline-block;
        width:120px;
        height:40px;
        text-align: center;
        padding:10 0 10 0;
        text-decoration: none;
        color: #FFF;
        background: #0f0f6f;/*色*/
        border-radius: 4px;/*角の丸み*/
        box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
        font-weight: bold;
        border: solid 2px #003399;/*線色*/
    }
    
    .square_btn_submit:active {/*押したとき*/
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
    }
    
    .menu_area {
        width:20%;
        float: left;
        font-family: 'Sawarabi Gothic', sans-serif;
    }
    
    .list_area {
        width:80%;
        float: left;
        font-family: 'Sawarabi Gothic', sans-serif;
    }
    
    .accessory {
      height: 6px;
      background-image: radial-gradient(
        closest-side,
        hsla(0, 0%, 50%, 1.0),
        hsla(0, 0%, 50%, 0) 100%);
      position: relative;
    }
    .accessory:after {
      position: absolute;
      top:  50%;
      left: 50%;
      display:block;
      background-color: hsl(0, 0%, 75%);
      height: 12px;
      width:  12px;
      transform: rotate(45deg);
      margin-top:  -10px;
      margin-left: -10px;
      border-radius: 4px 0;
      border: 4px solid hsla(0, 0%, 100%, 0.35);
      background-clip: padding-box;
      box-shadow: -10px 10px 0 hsla(0, 0%, 100%, 0.15), 10px -10px 0 hsla(0, 0%, 100%, 0.15);
    }
    
    .menu_name{
        width:200px;
    }
    
    .menu_price{
        width:100px;
    }
    
    .menu_creation_time{
        width:150px;
    }
    
    .menu_qty{
        width:100px;
    }
    
    .store_name_order_detail{
        width:200px;
    }
    
    .order_manage_button{
        width:100px;    
    }
    
    .square_btn_manage_order {
        position: relative;
        display: inline-block;
        width:100px;
        text-align: center;
        padding:10 0 10 0;
        text-decoration: none;
        color: #FFF;
        background: #0f0f6f;/*色*/
        border-radius: 4px;/*角の丸み*/
        box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), inset 0 -2px 0 rgba(0, 0, 0, 0.05);
        font-weight: bold;
        border: solid 2px #003399;/*線色*/
    }
    
    .square_btn_manage_order:active {/*押したとき*/
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
    }
    
    .flex_store{
      padding: 1% 1%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .flex_store > *{
      min-width: 15%;
      min-height: 30%;
      flex-basis: 25%;
      background: #fff;
      font-size: 15px;
      text-align: center;
    }
    .flex_store,
    .flex > *{
      border: 1px solid #aaa;
    }
}
