{% extends 'manageTable/base.html' %}
{% block content %}
<div class="flex">
    {% for table in tableStatusList %}
        {% load staticfiles %}
            <p class="table_height">【テーブル{{ table.tableId }}】
                </br>
                {% if table.status == '0' %}
                    <img src="{% static 'img/available.png' %}">
                {% elif table.status == '1'  %}
                    <img src="{% static 'img/notavailable.png' %}">
                {% else %}
                    <img src="{% static 'img/selected.png' %}">  
                </br>
                予約しますか？
                </br>
                <a href="{% url 'reservation' select_tableId=table.tableId %}"> Yes </a>,
                <a href="{% url 'table_list'%}"> No </a>
                {% endif %}
            </p>
    {% endfor %}
</div>
{% endblock content %}